h3{
    background-color: red;
    color: black;
    font-size: 2rem;
    font-family: cursive;
    text-transform: uppercase;
    display: inline-block;
    
}
p{
    background-color: gray;
    color: black;
}